<div class="viewport">



<h1>Experiments!</h1>


<table>

	<thead>
		<tr> 
			<th><%= link_to "Last Updated", :sort => "updated_at" %></th>
			<th><%= link_to "Date Started", :sort => "date_started"%></th>
			<th> Experiments</th>
			<th> Project</th>
		</tr>
	</thead>
	<tbody>
<% # experiments listing in a table %>
 <% @experiments.each do |experiment| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %> ">
		
		<td class="date">
			<dt>
				<%= experiment.updated_at %>
			</dt>
		</td>
		
		<td class="date">
			<dt>
				<%= experiment.date_started %>
			</dt>
		</td>
		
		<td class="list_description">
			<dl>
				<dt>
					<%= link_to experiment.title, experiment %>
				</dt>
				<dd><%= truncate(strip_tags(experiment.procedure), length:160) %></dd>
			</dl>	
		</td>
		
		<td>
			
			
			<% if not experiment.project.nil? then %>
			<%=experiment.project.title %>
			<% end %>
		</td>
		
		
		
	</tr>
<% end %>
</tbody>	
</table>

<br />

<%= link_to 'New Experiment', new_experiment_path %>

</div>
