
<div class=" viewport ">

<p id="notice"><%= notice %></p>

<p>
  <h2>
  <%= @experiment.title %>
  </h2>
</p>

<p>
  <strong>Date started:</strong>
  <%= @experiment.date_started %>
</p>

<p>
  <strong>Scheme:</strong>
  <div class="textbox large">
	<%= image_tag(@experiment.image_url, class: 'list_image') %>
	</div>
</p>

<p>
  <strong>Procedure:</strong><br>
  <div class="textbox large">
	<%= @experiment.procedure %>
	</div>
  	
</p>





<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>

</div>
