<!DOCTYPE html>
<html>
<head>
  <title>Blabnotes2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body class= "experiments">
	
	<div class="topnav">
	<h1 class="logo"> Blabnotes</h1>
	</div>

	<div class="sidebar">
		<ul>
			<li> 
			<%= link_to 'Projects', "projects" %>
			</li>
			<li> 
			<%= link_to 'Experiments', "experiments" %>
			</li>
			<li>
				<%= link_to 'New Project', new_project_path %>
			</li>
			<li>
				<%= link_to 'New Experiment', new_experiment_path %>
			</li>
			<br>
			<br>
		</ul>
	
		
		
		
	</div>


<%= yield %>

</body>
</html>
